[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
requests = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "uvicorn main:app --workers 4 --port 3000 --reload"
start = "gunicorn --bind 0.0.0.0:$PORT -w 4 -k uvicorn.workers.UvicornWorker main:app"
